<div class="row align-middle title_log">
  	<div class="columns text-right large-5" style="padding-bottom: 10px; color: green;">
    	<i class="fa fa-medkit fa-3x"></i>
  	</div>
	<div class="columns large-4 titulo_newPurchase">
		<h1>Nueva Compra</h1>
	</div>
</div>

<%= render 'form', purchase: @purchase %>

<%= link_to 'Back', purchases_path %>
