// Place all the styles related to the Purchases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, tbody tr td {
	border: 1px solid #032D58;
}

thead {
	background-color: #032D58;
	color: white;
}

thead tr th , tbody tr td{
	text-align: center;
}

.titulo_compras h2, .titulo_usuarios h2, .editar_monto h2  {
	font-family: 'Patua One', cursive;
}

.title_compras, .title_usuarios,  {
	margin-bottom: 30px;
}